* {
  margin: 0;
  padding: 0;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* About */
.about {
    padding: 50px;
    text-align: center;
}

/* Services */
.services {
    padding: 50px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
}

/* Contact */
.contact {
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    margin: 5px;
}
button{
    padding:10px ;
    background: linear-gradient(to right, #4e73df, #1cc88a);
}





































/* .box0{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.box1{
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;

    background: linear-gradient(45deg, red, yellow);
    border: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 10px 10px 20px black;

    transition: all 0.4s ease;
    transform:    scale(1.2);
}

.box1:hover{
    transform: scale(1.2);
    box-shadow: 15px 15px 30px rgb(255, 224, 0);
    border-radius: 40px;
    background: linear-gradient(45deg, rgb(227, 41, 41) rgb(238, 238, 230));
}
@media (max-width: 600px){

    .box0{
        flex-direction: column;
        align-items: center;
    }

    .box:hover{
        transform: scale(1.05);
    }

} */